{{#each contacts}}
  <div class="contact" id="{{id}}">
    <h4>{{full_name}}</h4>
    <h5>Phone Number:</h5>
    <p>{{phone_number}}</p>
    <h5>Email:</h5>
    <p>{{email}}</p>
    <h5>Tags:</h5>
    <div class="tags">
      {{#if tags}}
        {{#each tags}}<span class="tag">#{{tag}}</span>
        {{/each}}
      {{/if}}
    </div>
    <div class="contactButtons">
      <button class="contactEditBtn"><i class="fa-regular fa-pen-to-square"></i>Edit</button>
      <button class="contactDeleteBtn"><i class="fa-regular fa-trash-can"></i>Delete</button>
    </div>  
  </div>
{{/each}}